<% @user ||= current_user %>
<div class="stats">
  <%= link_to user_relationships_path @user, type: "following" do %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "following"%>
  <% end %>
  <%= link_to user_relationships_path @user, type: "followers" do %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t "followers" %>
  <% end %>
</div>
